.nav-header {
    width: 100%;
    background-color: var(--neutral-dark-blue);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--sm-1);
    gap: var(--md-1);
}

nav a,
nav button {
    color: var(--neutral-gray);
}

nav button {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

nav a:hover,
nav button:hover {
    color: var(--primary-light-blue);
}